.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
}

.Wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;

    &--no-scrollbar {
        height: 100vh;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.scroll-lock {
    position: fixed;

    overflow-y: auto;
}

.btn-reset {
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
}

@keyframes disableBreakpointAnimation {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.Container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 136px;

    @include tablets {
        padding: 0 32px;
    }

    @include phones {
        padding: 0 16px;
    }

    &--no-padding {
    @include phones {
        padding: 0;
        }
    }
}

