@value vars: '../../styles/vars.module.scss';
@value color-orange,  background-tabs, color-light-gray, tablets, phones from vars;

.tabs {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: tablets) {
    flex-wrap: nowrap;
  }

  &::after {
    @media (max-width: tablets) {
      position: absolute;
      top: 0;
      right: -80px;
      height: 40px;
      width: 30%;
      content: "";
      background: background-tabs;
    }

    @media (max-width: phones) {
      right: -16px;
      height: 30px;
    }
  }

  label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;

    @media (max-width: tablets) {
      width: auto;
      height: 30px;
    }

    &:first-of-type {
      padding-right: 5px;
      justify-content: flex-start;

      @media (max-width: tablets) {
        padding-right: 14px;
      }
    }

    &:not(:first-of-type) {
      @media (max-width: tablets) {
        padding: 0 14px 0 18px;
      }
    }

    svg {
      margin-right: 11px;

      @media (max-width: phones) {
        margin-right: 8px;
      }
    }


    span {
      font-weight: bold;
      font-size: 14px;
      letter-spacing: -0.02em;
      border-bottom: 2px solid transparent;
      color: color-light-gray;
      white-space: nowrap;
      padding: 6px 0;

      @media (max-width: phones) {
        font-size: 13px;
        letter-spacing: 0.03em;
      }
    }

    &:not(:last-of-type) {
      border-right: 1px solid rgba(#ffffff, 0.4);
    }
  }

  label[for="all-tabs"] {
    min-width: 14%;

    @media (max-width: tablets) {
      width: auto;
      min-width: auto;
    }

    svg {
      min-width: 21px;

      @media (max-width: tablets) {
        min-width: 21px;
        width: 21px;
        height: 24px;
      }
    }
  }

  label[for="adventure-tab"] {
    width: 20.2%;

    @media (max-width: tablets) {
      width: auto;
    }

    svg {
      @media (max-width: tablets) {
        width: 29px;
        height: 24px;
      }
    }
  }

  label[for="horror-tab"] {
    width: 15.2%;

    @media (max-width: tablets) {
      width: auto;
    }

    svg {
      @media (max-width: tablets) {
        width: 22px;
        height: 24px;
      }
    }
  }

  label[for="mystic-tab"] {
    width: 16.5%;

    @media (max-width: tablets) {
      width: auto;
    }

    svg {
      @media (max-width: tablets) {
        width: 22px;
        height: 24px;
      }
    }
  }

  label[for="detective-tab"] {
    width: 17.6%;

    @media (max-width: tablets) {
      width: auto;
    }

    svg {
      @media (max-width: tablets) {
        width: 32px;
        height: 25px;
      }
    }
  }

  label[for="sci-fi-tab"] {
    width: 14%;

    @media (max-width: tablets) {
      width: auto;
    }

    svg {
      @media (max-width: tablets) {
        width: 22px;
        height: 24px;
      }
    }
  }

  input[type="radio"] {
    display: none;

    &:checked + label {
      span {
        border-bottom-color: color-orange;
      }
    }
  }
}
