@value vars: '../../styles/vars.module.scss';
@value color-white, background-start, color-black, color-orange, color-orange-hover, tablets, phones from vars;

.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
  background: background-start, color-black center/cover url(../../img/bg-start.jpg);

  @media (max-width: tablets) {
    padding: 80px 0;
  }

  @media (max-width: phones) {
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
}

.wrapper {
  width: 48%;

  @media (max-width: tablets) {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  @media (max-width: phones) {
    margin-bottom: 65px;
    width: 100%;
  }

  h1 {
    font-weight: 800;
    font-size: 64px;
    color: color-white;
    line-height: 110%;
    margin: 0 0 32px 0;
    letter-spacing: -0.01em;

    @media (max-width: phones) {
      letter-spacing: normal;
      font-size: 36px;
      width: 90%;
      margin: 0 auto 35px auto;
    }
  }

  p {
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    margin: 0 0 68px 0;

    @media (max-width: phones) {
      display: none;
    }
  }

  a {
    display: inline-block;
    vertical-align: middle;
    background: color-orange;
    border-radius: 65px;
    font-weight: 800;
    font-size: 17px;
    text-transform: uppercase;
    color: color-white;
    padding: 23px 52px;
    letter-spacing: 0.03em;
    border: transparent;
    transition: 0.3s;

    @media (max-width: phones) {
      font-size: 14px;
      padding: 15px 32px;
    }

    &:hover {
      background: color-orange-hover;
    }

    &:active {
      opacity: 0.9;
    }
  }
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 136px;

  @media (max-width: tablets) {
    padding: 0 80px;
  }

  @media (max-width: phones) {
    padding: 0 16px;
  }

  &--no-padding {
    @media (max-width: phones) {
      padding: 0;
    }
  }
}
